.sidebarItem {

    width: 100%;
    border-radius: 12px;
    margin: 6px 0;
    padding: 12px 0;
    transition: .3s ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    }

}

.sidebarItemIcon {
    margin: 0 var(--mantine-spacing-md);
}

.switcher {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: var(--mantine-spacing-sm);

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
    }

}