.sidebarItem {

    width: 100%;
    border-radius: 12px;
    margin: 6px 0;
    padding: 12px 0;
    transition: .3s ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    }

}

.sidebarItemActive {

}

.sidebarItemExpanded {
    composes: sidebarItem;

}

.sidebarItemSlug {

}

.sidebarItemIcon {
    margin: 0 var(--mantine-spacing-md);
}