.header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: var(--mantine-spacing-xl) 0;
    padding: 0 var(--mantine-spacing-lg);
}

.headerExpanded {
    flex-direction: row;
    composes: header;
    margin: var(--mantine-spacing-lg) 0;
    padding: 0 var(--mantine-spacing-xl);
}

.logo {
    position: relative;
    top: 0;
    width: 75%;
    margin-bottom: var(--mantine-spacing-lg);
}

.logoExpanded {
    position: relative;
    top: -3px;
    width: 100px;
}