.sidebar {

    position: sticky;
    top: 0;
    left: 0;

    height: 100vh;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-9));
    border-right: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

    align-items: start;
    flex-direction: column;

}