.menu {
    width: 100%;
    border-radius: var(--mantine-radius-lg);
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
}

.slug {
    composes: menu;
    justify-content: space-between;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.slugActive {
    transition: .3s all;
    background-color: var(--mantine-color-azalea-blue-4);
    color: var(--mantine-color-white);
}

.content {
    overflow: hidden;
}

.chevronActive {
    transition: .3s all;
    rotate: 180deg;
}